OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MISTRAL_API_KEY=7OVSjMJCaEuabu47yFl0R6XRqhM5JqbO

# chat persistence -- sign up on cloud.assistant-ui.com
CEREBRAS_API_KEY=
