fastapi
uvicorn[standard]>=0.30.0
python-dotenv
groq
python-multipart
pydantic-settings
httpx
numpy
lancedb
playwright
aiosqlite
websockets
torch
silero-vad
rapidfuzz
pyperclip
pygetwindow
pywin32
pillow
openai
mistralai
google-genai>=2.9.0
protobuf>=6.31.1
